:root{
  --main-font-family: Roboto;
  --main-margin-left: 10vw;
  --main-width: 70vw;
  --even-cell-background: #f2f4f6;
}

@media (max-width: 900px){
  :root{
    --main-width: 80vw;
    --main-margin-left: 8vw;
  }
}

@media (max-width: 800px){
  :root{
    --main-width: 80vw;
    --main-margin-left: 9vw;
  }
}

@media(max-width: 652px){
  :root{
    --main-width: 80vw;
    --main-margin-left: 4vw;
  }
}

@media (max-width: 586px){
  :root{
    --main-width: 90vw;
    --main-margin-left: 2vw;
  }
}