.code-example-wrapper{
  margin-left: var(--main-margin-left);
  width: var(--main-width);
}

code{
  background: #eee;
  border-radius: 1em;
}

@media (max-width: 381px){
  code{
    display: block;
    position: relative;
    left: -3em;
    background: #FFF;
  }
}