.introduction{
  margin: 1em 0 0 var(--main-margin-left);
}

.introduction__name{
  font-size: 2.5em;
}

hr{
  width: var(--main-width);
  height: 0.25em;
  background: #e1e4e8;
  border: 0;
}

.introduction__profession{
  font-size: 2em;
}

.contact-info{
  display: flex;
  margin-left: var(--main-margin-left);
  gap: 2vw;
}

.contact-info__info{
  margin-top: 1em;
}

.contact-info__li{
  font-size: 1.1em;
  padding: 0.5em 0em 0.5em 0em;
  list-style-type: none;
}

.contact-info__img{
  transition: 1s;
}

.contact-info__img:hover{
  transform: scale(1.1);
}

@media (max-width: 514px){
  .contact-info__info{
    font-size: 0.9em;
  }
}

@media (max-width: 482px){
  .contact-info__img{
    width: 190px;
    height: 200px;
  }
}

@media (max-width: 460px){
  .contact-info__img{
    width: 170px;
    height: 200px;
  }

  .contact-info__info{
    font-size: 0.8em;
  }
}

@media (max-width: 400px){
  .contact-info__img{
    width: 150px;
    height: 180px;
  }
}

@media (max-width: 389px){
  .contact-info__img{
    width: 120px;
    height: 150px;
  }

  .contact-info__info{
    font-size: 0.7em;
  }

  .introduction{
    margin: 2em 0 0 var(--main-margin-left);
  }
}
