.proficiency__wrapper{
  margin-left: var(--main-margin-left);
  width: var(--main-width);
}

.proficiency__ul{
  list-style: inside;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 10vh;
}

.proficiency__li{
  padding: 0 0 0 0;
}

@media (max-width: 700px){
  .proficiency__ul{
    height: 15vh;
  }
}

@media(max-width: 430px){
  .proficiency__ul{
    height: 19vh;
  }
}
