.projects__wrapper{
  margin-left: var(--main-margin-left);
  width: var(--main-width);
}

.projects__table{
  width: var(--main-width);
}

.projects__thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}


.projects__th{
  text-align: center;
  padding: 0.4em 0.8em;
  border: 1px solid #dfe2e5;
}

.projects__td{
  border: 1px solid #dfe2e5;
  text-align: center;
  padding: 0.2em 0em;
}

.projects__tr:nth-child(even){
  background: var(--even-cell-background);
}

@media (max-width: 462px){
  .projects__table{
    font-size: 0.9em;
  }
}

@media (max-width: 400px){
  .projects__table{
    font-size: 0.8em;
  }
}